:root{
    --bg-body : #0A3D18;
    --bg-navBar: #4F9C2A;
}
body{
    background: var(--bg-body);
}
.logo{
    width: 3rem;
}
.navbar{
    background-image: url(./assets/img/entradaHoyo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* background: var(--bg-navBar); */
    font-size: 1rem;
    padding: 1rem 2rem;
    
}
.navbar-brand{
    color: #fff;
}

.nav-link{
    margin-left: 1rem;
    text-transform: capitalize;
}
.paprika{
    font-family: "Paprika", system-ui;
    font-weight: 400;
    font-style: normal;
  }
.carousel{
    margin-top: 5rem;
}
.imgCarrusel{
    height: 300px
}

.frase{
    position: relative;
    
    padding-top: 1rem; 
    
}

.textFrase{
    display: none;
    /* text-align: center;
    position: absolute;
    left: 0;
    right: 0; 
    z-index: 3;
    text-shadow: 2px 2px 4px #000000;  */
    
}
.textFrase1{
    text-align: center;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0; 
    z-index: 3;
    text-shadow: 2px 2px 4px #000000;
    padding: 0 1rem;
    
}
.cateringYEventos{
    text-align: center;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0; 
    z-index: 3;
    text-shadow: 2px 2px 4px #000000;
    padding: 0 1rem;
}
.card-title{
    font-size:2rem;
}
.textCarrusel{
    font-size: 1.5rem;
    font-family: "Risque", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 4px #000000; 
    color: aliceblue;
}
.titulo{
   position: absolute;
   top: 90px;
    z-index: 3;
    font-size: 1.5rem;
    font-family: "Risque", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 4px #000000; 
    color: aliceblue;  
    
}
.titulo1{
    text-align: center;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
     z-index: 3;
     font-size: 1.5rem;
     font-family: "Risque", serif;
     font-weight: 400;
     font-style: normal;
     text-shadow: 2px 2px 4px #000000; 
     color: aliceblue;  
     
 }
 .tituloCafeteria{
    text-align: center;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
     z-index: 3;
     font-size: 1.5rem;
     font-family: "Risque", serif;
     font-weight: 400;
     font-style: normal;
     text-shadow: 2px 2px 4px #000000; 
     color: aliceblue;  
     
 }
 .titulokiosco{
    text-align: center;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
     z-index: 3;
     font-size: 1.7rem;
     font-family: "Risque", serif;
     font-weight: 400;
     font-style: normal;
     text-shadow: 2px 2px 4px #000000; 
     color: aliceblue;  
     
 }
.ondaAmarilla{
   
    position: absolute;
    width: 100%;
    z-index: 2;
}
.sectionDesayuno{
    background-image:url(./assets/img/cafeteria3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.seccionComidas{
    background-image:url(./assets/img/parrillada.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.seccionBebidas{
    background-image:url(./assets/img/gaseosass.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.seccionHelados{
    background-image:url(./assets/img/postreFondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

  
.seccionKiosco{
    background-image:url(./assets/img/kiosco.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 500px;
}
.clearfix{
    clear: both;
    content: '';
    height: 8rem;
}
.card{
    width: 15rem;
} 
.textBorder{
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
.textBorder2{
    text-shadow:
    -2px -2px 0 #000,  
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
}
.subFooter{
    
    width: 100%;
    height: 8rem;
    background-image: url(./assets/img/subfooter2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.footer{
    background-image: url(./assets/img/footerimg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem

}
span{
    color: #C1A50F;
}
.whatsap{
    height: 3rem;
    position:fixed ;
    right: 10px;
    bottom: 10px;
    z-index: 5;
}
.instagram{
    height: 3rem;
    position:fixed ;
    right: 10px;
    bottom: 90px;
    z-index: 5;
}
.reproductor{
    height: 3rem;
    width: 15rem;
    position:sticky;
    left: 0px;
    bottom: 0px;
    z-index: 5;
}
@media screen and (min-width: 440px) {
    .titulo{ 
        bottom: 70px;
    }
    .textFrase, .textFrase1{
        
        font-size: 1.5rem;
    }
    .textFrase1{
        top: 60px;
    }
}
@media screen and (min-width: 768px) {
    .logo{
        width: 5rem;
    }
    .imgCarrusel{
        height: 30rem;
    }
    .nav-link{
        margin-left: 2.2rem;
        
    }
    .carousel{
        margin:120px 100px;      
    }
    .titulo , .titulo1{
        text-align: start;
        bottom: 60px;
        left: 20px;
        top: 50px;
        font-size: 2rem;
    }
    .tituloCafeteria{
        text-align: start;
        font-size: 2rem;
        top: 50px;
        left: 20px;
    }
    .titulokiosco{
        font-size: 2rem;
        top: 50px;
    }
    .textFrase{
        top: -100px;
    }
    .textFrase{
        display: block;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0; 
        z-index: 3;
        text-shadow: 2px 2px 4px #000000; 
        
    }
    .linea{
        position: relative;
        margin: 1rem auto;
        height: 5px;
        width: 75%;
        background-color: #000000;
        top: -5px;
        left: 0;
    }
    .textFrase, .textFrase1{
        
        font-size: 2rem;
    }
    .textFrase1{
        top: 45px;
        left: 190px;
    }
    .cateringYEventos{
        
        left: 300px;
    }
    .subFooter{
        margin: 1rem auto;
        width: 100%;
        height: 10rem;
        background-image: url(./assets/img/subfooter2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    @media screen and (min-width: 992px) {
        .carousel{
            margin:170px 100px;      
        }
        .carrusel_eventos{
            width: 70%;
            margin: auto;
        }
        .nav-link{
            margin-left: 0;
        }
        .navCatering{
            text-align: center;
        }
        .navbar-brand:hover{
            color: #C3BD16 !important;
            font-weight: 500;
        }
        .nav-link:hover{
            color: #C3BD16 !important;
            transform: scale(1.1);
        }
    }
    
}